!!! 5
//
  :cdata
    Like wolves in the night...
    ############################################################# 
    ###################################################   ####### 
    ###############################################   /~\   #####
    ############################################   _- `~~~', ####
    ##########################################  _-~       )  ####
    #######################################  _-~          |  ####
    ####################################  _-~            ;  #####
    ##########################  __---___-~              |   #####
    #######################   _~   ,,                  ;  `,,  ##
    #####################  _-~    ;'                  |  ,'  ; ##
    ###################  _~      '                    `~'   ; ###
    ############   __---;                                 ,' ####
    ########   __~~  ___                                ,' ######
    #####  _-~~   -~~ _                               ,' ########
    ##### `-_         _                              ; ##########
    #######  ~~----~~~   ;                          ; ###########
    #########  /          ;                        ; ############
    #######  /             ;                      ; #############
    #####  /                `                    ; ##############
    ###  /                                      ; ###############
    #                                            ################

html
  head
    meta( charset='utf-8' )
    meta( content='width=device-width, initial-scale=1.0', name='viewport' )
      
    title= title

    // Web Fontz
    link( href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold|Ubuntu|Cabin', rel='stylesheet' )
    
    // Stylez
    link( rel='stylesheet', href='/stylesheets/normalize.css' )
    link( rel='stylesheet', href='/stylesheets/style.css' )

  body

    != body

    script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' )
    script( src='http://platform.twitter.com/anywhere.js?id=K1MCmMxkZWuWRKAxnggccA&amp;v=1' )    
    script( src='/javascripts/sex.js' )

