@import "nib"

// Stylez
html
  height: 100%
  background-color: #444

body
  font-family: 'Cabin', arial, serif
  margin: 20px 0
  background-color: #444
  background-image: linear-gradient( top, #444444, #222222 )
  background-attachment: fixed
  color: #FFF
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, .8 )
  float: left
  width:100%

h1
  font-family: 'Cabin Sketch'
  padding-bottom: 10px
  margin-bottom: 10px
  font-size: 72px
  text-align: center
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #bbb, 0 3px 0 #aaa, 0 4px 0 #333, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

  & + p
    text-align: center

ul
  list-style: none

a
  color: #3AF
  transition: all 0.3s ease-out
  text-decoration: none

  &:hover
    color: #6CF

// Crew list
#crew
  margin-bottom: 20px
  width:1160px
  margin:0 auto
  > li
    position: relative
    display: block
    float: left
    margin: 20px
    padding: 20px
    width: 500px
    min-height: 155px
    vertical-align: top
    border-radius: 4px
    box-shadow: inset 0 0 2px rgba( 0, 0, 0, .8 ), 0 1px 0 rgba( 255, 255, 255, .2 )
    transition: all 0.8s ease-out

    &:hover
      background-color: rgba( 255, 255, 255, .05 )
      vendor( 'transition-duration', '0.2s' )

    h3
      margin: 0
      padding: 0
      font-family: "Ubuntu"
      font-size: 35px

      img
        height: 23px
        margin-right: 10px
        border: 1px solid dagray
        border-radius: 4px

    // Sublist
    ul
      margin-left: 0

      li
        &.location
          img
            position: absolute
            top: 10px
            right: 10px
            border: 1px solid dagray
            border-radius: 4px
            box-shadow: 0 1px 2px rgba( 0, 0, 0, .4 )


.ttImg
  position: absolute
  border: 1px solid gray
  border-radius: 10px
  display: none

.crewSearch
  margin: 0 auto;
  width: 620px;
  display: block;
  padding: 10px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: inset 0 0 10px #222;
  margin-top: 20px
  color:white
  outline:0;


@media all and (max-width:1160px)
  * 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
  #crew 
    width: 100%
    margin: 0 auto
    li
      width:100%;
      margin: 0 auto