html {
    height: 100%;
    background-color: DarkSlateGray;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    float: left;
    margin: 20px 0;
    width: 100%;
    background-color: DarkSlateGray;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    font-family: 'Cabin', arial, serif;
}

h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #bbb, 0 3px 0 #aaa, 0 4px 0 #333, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    font-size: 72px;
    font-family: 'Cabin Sketch';
}

h1 + p {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: #3af;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover {
    color: #6cf;
}

#crew {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 1160px;
}

#crew > li {
    position: relative;
    display: block;
    float: left;
    margin: 20px;
    padding: 20px;
    padding-right: 220px;
    min-height: 155px;
    width: 500px;
    height: 250px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.2);
    vertical-align: top;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#crew > li:hover {
    background-color: rgba(255,255,255,0.05);
    -webkit-transition-duration: '0.2s';
    -moz-transition-duration: '0.2s';
    -ms-transition-duration: '0.2s';
    -o-transition-duration: '0.2s';
    transition-duration: '0.2s';
}

#crew > li h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: "Ubuntu";
}

#crew > li h3 img {
    margin-right: 10px;
    height: 23px;
    border: 1px solid dagray;
    border-radius: 4px;
}

#crew > li ul {
    margin-left: 0;
}

#crew > li ul li.location img {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid dagray;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.ttImg {
    position: absolute;
    display: none;
    border: 1px solid #808080;
    border-radius: 10px;
}

#crewSearch {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    width: 620px;
    outline: 0;
    border: 0;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 8px #333;
    color: #fff;
    font-size: 25px;
}

@media all and (max-width:1160px) {

    #crew {
        margin: 0 auto;
        width: 100%;
    }

    #crew li {
        margin: 0 auto;
        width: 100%;
    }

}

